.navbar-brand {
    color: red;
}

.donasi-button, #nav-button-donasi{
    font-family: 'Poppins', sans-serif;
}

/* Donasi Page */
.donasi-button{
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    position: relative;
}

#donasi-images{
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block;
    border-radius: 4px;
    margin-right: 1rem;
    width: 413px;
    height: 235px;
    left: 72px;
    top: 191px;
}

#Judul-Donasi{
    margin-left: 0;
    position:relative;
    top: 0;
    color: #45545B;
    position:absolute;
    font-size: x-large;
}

td, tr, table{
    border-radius: 5px;
}

#status-donasi{
    color: #9BB0BD;
    position:absolute;
    bottom: 9rem;
}

#penggalang-donasi{
    color: #3A99D8;
    position: absolute;
    bottom: 7rem;
}

#bar-progress{
    border-radius: 100px;
    bottom: 4.5rem;
    position: absolute;
}

#jumlah-terkumpul{
    line-height: 0.2;
    color: #45545B;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    position: absolute;
    bottom: 3rem;
}

#jumlah-donatur{
    color: #6D899B;
    position: absolute;
    bottom: 1rem;
}

#sisa-hari-donasi{
    text-align: right;
    margin-right: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #3A99D8;
}

#nav-button-donasi{
    margin-left: 3rem;
}

.nav-button-selainDonasi{
    padding-left: 2rem;
}

#nav-button-kesehatan{
    margin-right: 2rem;
}

#nav-button-kemanusiaan{
    margin-right: 2rem;
}

#nav-button-bencanaalam{
    margin-right: 2rem;
}

#nav-button-zakat{
    margin-right: 2rem;
}

#nav-button-pendidikan{
    margin-right: 2rem;
}

/* Donasi CLick 1 */
.donasi-click-1{
    display:inline-block;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

#donasi-click-image{
    width: 50rem;
    height: 30rem;
    align-items: center;
}

#verifikasi-donasi, #penggalang-donasi-click, #jumlah-terkumpul-click{
    color: #3A99D8;
}

#jumlah-terkumpul-click{
    font-size: 22px;
}

#table-header{
    border-radius: 5px;
}

#table-kisah{
    text-align: justify;
}

#table-header, #table-kisah, #table-diagnosis, #table-donatur{
    border-radius: 10px;
    padding: 1rem;
}
